LAB4/flows_NA.json
[{"id":"56f388a1.475d38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7908e7ad.df2b48","type":"inject","z":"56f388a1.475d38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["1216ec1a.07b724"]]},{"id":"1216ec1a.07b724","type":"oM2M-Application","z":"56f388a1.475d38","xSCL":"67658974.f9cb88","xA":"e121884f.879688","obixType":"NETWORK APPLICATION","obixCategory":"demo","obixLocation":"Cloud","obixAnnounce":true,"x":290,"y":120,"wires":[["751270f0.d025e"]]},{"id":"751270f0.d025e","type":"http request","z":"56f388a1.475d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":450,"y":120,"wires":[["8ba787d9.baa9c8"]]},{"id":"8ba787d9.baa9c8","type":"debug","z":"56f388a1.475d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":620,"y":120,"wires":[]},{"id":"ce69d861.ea3688","type":"inject","z":"56f388a1.475d38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["b17125e9.cd3fd8"]]},{"id":"b17125e9.cd3fd8","type":"oM2M-Subscription","z":"56f388a1.475d38","xSCL":"e19b3498.972968","xA":"e121884f.879688","contactPath":"/notification","filterType":"","filterCriteria":"content","x":290,"y":180,"wires":[["7042641f.4509fc","3e4b4749.f085b8"]]},{"id":"7042641f.4509fc","type":"http request","z":"56f388a1.475d38","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":450,"y":180,"wires":[["29334fd0.d7a9f"]]},{"id":"29334fd0.d7a9f","type":"debug","z":"56f388a1.475d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":620,"y":180,"wires":[]},{"id":"df11790c.e1eb68","type":"http in","z":"56f388a1.475d38","name":"","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["b6d7cc82.342b2","c2a7c596.9de318"]]},{"id":"b6d7cc82.342b2","type":"http response","z":"56f388a1.475d38","name":"","statusCode":"","headers":{},"x":310,"y":280,"wires":[]},{"id":"fe5b172f.3cd1b8","type":"function","z":"56f388a1.475d38","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["b4c27bef.e4a288"]]},{"id":"bd55ffeb.f4aa7","type":"debug","z":"56f388a1.475d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":240,"wires":[]},{"id":"b4c27bef.e4a288","type":"file","z":"56f388a1.475d38","name":"","filename":"C:\\Users\\hao\\Downloads\\OM2M-0.8.0\\notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":240,"wires":[["bd55ffeb.f4aa7"]]},{"id":"c2a7c596.9de318","type":"function","z":"56f388a1.475d38","name":"","func":"msg.payload = msg.req.body.toString();\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["1b53d4db.514f6b"]]},{"id":"1b53d4db.514f6b","type":"xml","z":"56f388a1.475d38","name":"","property":"payload","attr":"","chr":"","x":430,"y":240,"wires":[["fe5b172f.3cd1b8"]]},{"id":"3a43bfc8.35412","type":"http in","z":"56f388a1.475d38","name":"","url":"/xmlfile","method":"get","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["8e4af95f.26ba88"]]},{"id":"8e4af95f.26ba88","type":"file in","z":"56f388a1.475d38","name":"","filename":"C:\\Users\\hao\\Downloads\\OM2M-0.8.0\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":340,"wires":[["65d84e29.c76ea"]]},{"id":"ff042c96.1b5c2","type":"http response","z":"56f388a1.475d38","name":"","statusCode":"","headers":{},"x":890,"y":340,"wires":[]},{"id":"65d84e29.c76ea","type":"xml","z":"56f388a1.475d38","name":"","property":"payload","attr":"","chr":"","x":710,"y":340,"wires":[["ff042c96.1b5c2"]]},{"id":"3e4b4749.f085b8","type":"debug","z":"56f388a1.475d38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":160,"wires":[]},{"id":"24f1a5e1.a1d3ea","type":"http in","z":"56f388a1.475d38","name":"","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":110,"y":440,"wires":[["fc7c5f2d.27dea"]]},{"id":"fc7c5f2d.27dea","type":"file in","z":"56f388a1.475d38","name":"","filename":"C:\\Users\\hao\\Downloads\\OM2M-0.8.0\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":440,"wires":[["50f43f11.a25f"]]},{"id":"50f43f11.a25f","type":"xml","z":"56f388a1.475d38","name":"","property":"payload","attr":"","chr":"","x":710,"y":440,"wires":[["c445aed1.d6ebc"]]},{"id":"c445aed1.d6ebc","type":"json","z":"56f388a1.475d38","name":"","property":"payload","action":"","pretty":false,"x":850,"y":440,"wires":[["332e7550.0c2f4a"]]},{"id":"332e7550.0c2f4a","type":"function","z":"56f388a1.475d38","name":"","func":"var data = JSON.parse(msg.payload); \nvar object1 = data.obj; \nvar string1 = object1.str;\n\nvar tres= string1[3]; \nvar tres_$ = tres.$; \nvar latitude = tres_$.val;\n\nvar cuatro= string1[4]; \nvar cuatro_$ = cuatro.$; \nvar longitude = cuatro_$.val;\n\nmsg.payload= { \n    \"latitude\":latitude, \n    \"longitude\": longitude \n    \n}; \nreturn msg;","outputs":1,"noerr":0,"x":220,"y":520,"wires":[["6a5b113a.f7072","70cd8054.00c38"]]},{"id":"6a5b113a.f7072","type":"http response","z":"56f388a1.475d38","name":"","statusCode":"","headers":{},"x":420,"y":520,"wires":[]},{"id":"70cd8054.00c38","type":"debug","z":"56f388a1.475d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":600,"wires":[]},{"id":"67658974.f9cb88","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"e121884f.879688","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"},{"id":"e19b3498.972968","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"}]