LAB5/flows.json
[{"id":"363e8d45.94aa02","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3b4762bd.7720de","type":"http in","z":"363e8d45.94aa02","name":"","url":"/Lab5","method":"post","upload":false,"swaggerDoc":"","x":70,"y":300,"wires":[["e230afa8.92f14","ccc9518d.ee832"]]},{"id":"e230afa8.92f14","type":"http response","z":"363e8d45.94aa02","name":"","statusCode":"","headers":{},"x":250,"y":60,"wires":[]},{"id":"e5fe6ff1.2190f","type":"function","z":"363e8d45.94aa02","name":"","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["16c2fbc7.145fc4"]]},{"id":"2133a2.8ad5ac5e","type":"function","z":"363e8d45.94aa02","name":"","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["89952daf.4d4be"]]},{"id":"985bcb.8e528438","type":"function","z":"363e8d45.94aa02","name":"","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["79bbe550.a6a0cc"]]},{"id":"57f960af.2817d","type":"function","z":"363e8d45.94aa02","name":"","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["27459711.270ec8"]]},{"id":"e4687166.2e5ad","type":"function","z":"363e8d45.94aa02","name":"","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["f6ee34c2.71fbd8"]]},{"id":"3c26161.a2904ea","type":"function","z":"363e8d45.94aa02","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["9ad5d92b.ceaf78"]]},{"id":"ccc9518d.ee832","type":"switch","z":"363e8d45.94aa02","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":220,"y":300,"wires":[["e5fe6ff1.2190f"],["3c26161.a2904ea"],["e4687166.2e5ad"],["57f960af.2817d"],["985bcb.8e528438"],["2133a2.8ad5ac5e"]]},{"id":"16c2fbc7.145fc4","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","proxy":"","authType":"basic","x":570,"y":200,"wires":[["4f30a8fd.0c20c8"]]},{"id":"9ad5d92b.ceaf78","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","proxy":"","authType":"basic","x":570,"y":240,"wires":[["4f30a8fd.0c20c8"]]},{"id":"497339ae.41cf48","type":"inject","z":"363e8d45.94aa02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["8b49b550.411f18"]]},{"id":"4f30a8fd.0c20c8","type":"debug","z":"363e8d45.94aa02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":300,"wires":[]},{"id":"f6ee34c2.71fbd8","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","proxy":"","authType":"basic","x":570,"y":280,"wires":[["4f30a8fd.0c20c8"]]},{"id":"27459711.270ec8","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","proxy":"","authType":"basic","x":570,"y":320,"wires":[["4f30a8fd.0c20c8"]]},{"id":"79bbe550.a6a0cc","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/groups/ON_ALL/membersContent","tls":"","proxy":"","authType":"basic","x":570,"y":360,"wires":[["4f30a8fd.0c20c8"]]},{"id":"89952daf.4d4be","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/groups/OFF_ALL/membersContent","tls":"","proxy":"","authType":"basic","x":570,"y":400,"wires":[["4f30a8fd.0c20c8"]]},{"id":"8b49b550.411f18","type":"template","z":"363e8d45.94aa02","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">\n<om2m:filterCriteria>\n<ifMatch>content</ifMatch>\n</om2m:filterCriteria>\n<om2m:contact>http://127.0.0.1:1880/LAB5_sub</om2m:contact>\n</om2m:subscription>\n","output":"str","x":300,"y":500,"wires":[["bae36e04.42acc","3500ab41.8eb564"]]},{"id":"bae36e04.42acc","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":470,"y":460,"wires":[["7c1c64b4.5c301c"]]},{"id":"3500ab41.8eb564","type":"http request","z":"363e8d45.94aa02","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":470,"y":540,"wires":[["7c1c64b4.5c301c"]]},{"id":"7c1c64b4.5c301c","type":"debug","z":"363e8d45.94aa02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":500,"wires":[]},{"id":"13e04567.0bda9b","type":"http in","z":"363e8d45.94aa02","name":"","url":"/LAB5_sub","method":"post","upload":false,"swaggerDoc":"","x":150,"y":620,"wires":[["29b5b310.fa463c"]]},{"id":"29b5b310.fa463c","type":"debug","z":"363e8d45.94aa02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":620,"wires":[]},{"id":"61500884.1cb308","type":"http in","z":"363e8d45.94aa02","name":"","url":"/LAB5_sub_phone","method":"get","upload":false,"swaggerDoc":"","x":160,"y":700,"wires":[["d9298dce.b4ce2","d3639d83.32f9"]]},{"id":"ab90f19.587d41","type":"http response","z":"363e8d45.94aa02","name":"","statusCode":"","headers":{},"x":1070,"y":780,"wires":[]},{"id":"d9298dce.b4ce2","type":"http request","z":"363e8d45.94aa02","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps","tls":"","proxy":"","authType":"basic","x":390,"y":700,"wires":[["8b4e099d.34f678"]]},{"id":"d3639d83.32f9","type":"http request","z":"363e8d45.94aa02","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps","tls":"","proxy":"","authType":"basic","x":390,"y":760,"wires":[["63492d61.990264"]]},{"id":"2656342e.804dac","type":"join","z":"363e8d45.94aa02","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":720,"wires":[["ab90f19.587d41","3ff180f4.f3149"]]},{"id":"3ff180f4.f3149","type":"debug","z":"363e8d45.94aa02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":620,"wires":[]},{"id":"63492d61.990264","type":"xml","z":"363e8d45.94aa02","name":"","property":"payload","attr":"","chr":"","x":570,"y":760,"wires":[["8628bef5.19152"]]},{"id":"8b4e099d.34f678","type":"xml","z":"363e8d45.94aa02","name":"","property":"payload","attr":"","chr":"","x":570,"y":700,"wires":[["dea1354d.30d598"]]},{"id":"dea1354d.30d598","type":"function","z":"363e8d45.94aa02","name":"","func":"msg.payload = msg.payload.obj.bool[0].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["2656342e.804dac"]]},{"id":"8628bef5.19152","type":"function","z":"363e8d45.94aa02","name":"","func":"msg.payload = msg.payload.obj.bool[0].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":760,"wires":[["6ee9f6e.d76ab08"]]},{"id":"6ee9f6e.d76ab08","type":"delay","z":"363e8d45.94aa02","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":860,"wires":[["2656342e.804dac"]]}]