LAB3/flows_GA.json
[{"id":"d4ecbf7b.59384","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ec793f24.a1a99","type":"inject","z":"d4ecbf7b.59384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["ab1853db.bcaad"]]},{"id":"ab1853db.bcaad","type":"oM2M-Application","z":"d4ecbf7b.59384","xSCL":"e19b3498.972968","xA":"1a34d9e5.069476","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":390,"y":100,"wires":[["48d6c88.d3ba538"]]},{"id":"48d6c88.d3ba538","type":"http request","z":"d4ecbf7b.59384","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":100,"wires":[["f058e2bf.aabb7"]]},{"id":"f058e2bf.aabb7","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":820,"y":100,"wires":[]},{"id":"d8e19a58.8ffac8","type":"inject","z":"d4ecbf7b.59384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["6b061888.13e1f8"]]},{"id":"6b061888.13e1f8","type":"oM2M-Descriptor-Container","z":"d4ecbf7b.59384","xSCL":"e19b3498.972968","xA":"1a34d9e5.069476","x":420,"y":160,"wires":[["79aa4f95.217ef"]]},{"id":"79aa4f95.217ef","type":"http request","z":"d4ecbf7b.59384","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":160,"wires":[["e66b21e9.a8944"]]},{"id":"e66b21e9.a8944","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":820,"y":160,"wires":[]},{"id":"58e8478e.f9e408","type":"inject","z":"d4ecbf7b.59384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["9d3de447.e07cf8"]]},{"id":"9d3de447.e07cf8","type":"oM2M-Descriptor-ContentInstance","z":"d4ecbf7b.59384","xSCL":"e19b3498.972968","xA":"1a34d9e5.069476","obixType":"","obixLocation":"","x":440,"y":220,"wires":[["3d56c7f1.c8b718"]]},{"id":"3d56c7f1.c8b718","type":"http request","z":"d4ecbf7b.59384","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":220,"wires":[["4a8813d6.7c389c"]]},{"id":"4a8813d6.7c389c","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":820,"y":220,"wires":[]},{"id":"d2c77d4a.605da","type":"inject","z":"d4ecbf7b.59384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["f5129cda.c66a"]]},{"id":"f5129cda.c66a","type":"oM2M-Data-Container","z":"d4ecbf7b.59384","xSCL":"e19b3498.972968","xA":"1a34d9e5.069476","maxNrOfInstances":"10","obixAnnounce":true,"x":400,"y":280,"wires":[["4dfb1cd5.0fe204","544050a8.652c7"]]},{"id":"4dfb1cd5.0fe204","type":"http request","z":"d4ecbf7b.59384","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":280,"wires":[["d5e756c.61f38a8"]]},{"id":"d5e756c.61f38a8","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":820,"y":280,"wires":[]},{"id":"f1f77b62.b26d98","type":"oM2M-Data-ContentInstance","z":"d4ecbf7b.59384","xSCL":"e19b3498.972968","xA":"1a34d9e5.069476","obixCategory":"","x":420,"y":380,"wires":[["f47f2f32.de7d4"]]},{"id":"9ce11cc0.f3f82","type":"inject","z":"d4ecbf7b.59384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":380,"wires":[["197175e8.ae0d6a"]]},{"id":"f47f2f32.de7d4","type":"http request","z":"d4ecbf7b.59384","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":380,"wires":[["1eed90ed.c8413f"]]},{"id":"1eed90ed.c8413f","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":810,"y":380,"wires":[]},{"id":"197175e8.ae0d6a","type":"function","z":"d4ecbf7b.59384","name":"My Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: '1',\n    longitude: '2' \n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["f1f77b62.b26d98"]]},{"id":"544050a8.652c7","type":"debug","z":"d4ecbf7b.59384","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":340,"wires":[]},{"id":"958c33b1.e4d4c","type":"http in","z":"d4ecbf7b.59384","name":"Post Sensor Data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":180,"y":500,"wires":[["a827f6d4.2fc208","81ada254.90d45"]]},{"id":"a827f6d4.2fc208","type":"function","z":"d4ecbf7b.59384","name":"Input Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longtitude \n}; \nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["dd42df9a.f42be"]]},{"id":"dd42df9a.f42be","type":"oM2M-Data-ContentInstance","z":"d4ecbf7b.59384","xSCL":"e19b3498.972968","xA":"1a34d9e5.069476","obixCategory":"","x":600,"y":500,"wires":[["d0f284ed.fb84f8","3755cccc.de3024"]]},{"id":"7b5633a7.08ab8c","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":1080,"y":500,"wires":[]},{"id":"d0f284ed.fb84f8","type":"http request","z":"d4ecbf7b.59384","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":870,"y":500,"wires":[["7b5633a7.08ab8c"]]},{"id":"81ada254.90d45","type":"http response","z":"d4ecbf7b.59384","name":"Http Response","statusCode":"","headers":{},"x":420,"y":600,"wires":[]},{"id":"3755cccc.de3024","type":"debug","z":"d4ecbf7b.59384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":600,"wires":[]},{"id":"e19b3498.972968","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"1a34d9e5.069476","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]